body{
     font-family:serif , monospace;
}
h1{
    font-size: 110px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    margin: 0 0 0 0;
    text-shadow: 2px 2px 4px black, 4px 4px 6px rgb(20, 129, 19);
}
h2{
    width: 100%;
    text-align: center;
    font-size: 45px;
    margin: 0 0 0 0;
    text-shadow: 2px 2px 4px black, 4px 4px 6px rgb(218, 229, 217);
}
h3{
    text-align: left;
    font-size: 40px;
    text-shadow: 2px 2px 4px black, 4px 4px 6px rgb(218, 229, 217);
}
p{
    text-align: center;
    width: 100%;
    font-size: 30px;
    text-shadow: 2px 2px 4px black, 4px 4px 6px rgb(218, 229, 217);
}
.style{
    width: 30%;
    font-size: 45px;
    background-color: rgb(20, 129, 19);
      border: 3px solid rgb(20, 129, 19);
      border-radius: 10px;
}