
i{
    text-align: center;
    border: 3px solid rgb(90, 88, 95);
    border-radius: 700px;
    font-size: 80px;
    color: white;
    font-family: serif, sans-serif;
    height: 15px;
    margin: 0px 0px 0px 0px;
}
p{
    display: inline;
    margin: 0 0 0 0;
    border: 1px solid black;
    text-align: center;
    color: white
}
div{
    background-color:rgb(226, 226, 231);
    margin-left: 200px;
    margin-right: 200px;
    height: 600px;
}
form{
    text-align: left;
    margin-left: 15px;
}
h1{
    text-align: left;
    margin-left: 15px;
    margin-bottom: 0px;
    color: rgb(33, 33, 145);
}
select{
    width: 100%;
    font-size: 30px;
    border: 1px solid rgb(10, 10, 99);
    border-radius: 10px;
}
label{
    font-size: 25px;
}
a{
    text-align: left;
    font-size: 25px;
    background-color: rgb(76, 76, 246);
    border: 1px solid rgb(76, 76, 246);
    border-radius: 10px;
    color: white;
}
input{
    border: 1px solid rgb(10, 10, 99);
}
body{
    color: white;
}
