p{
    width: 20%;
    font-size: 60px;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 120px;
    margin-left:120px;
    margin-right: 120px;
    text-align: center;
    display: inline;
}