body{
     font-family:serif , monospace;
}
h1{
    font-size: 110px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}
h2{
    width: 100%;
    text-align: center;
}
p{
    text-align: center;
    width: 100%;
}