p{
    width: 10%;~
    font-size: 30px;
    border: 3px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 120px;
    margin-left: 520px;
    margin-right: 120px;
    text-align: center;
    display: inline;
}