body{
    background-color: rgb(3, 3, 159);
    color: white;
    text-align: left;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    margin: 0 0 0 0;
}
a{
    color: rgb(69, 69, 252);
}
input{
    height: 30px;
    width: 55%;
}
h2{
   text-align: left;
}
label{
    text-align: left;
    font-size: 20px;
}
button{
    font-size: 15px;
    text-transform: uppercase;
    background-color: #5555ff;
    border: #5555ff;
    border-radius: 4px;
    margin: 2 2 2 2;
    h3{
       
    }