table,th,td{
    border:1px solid black;
    border-collapse:collapse;
    border-radius:2px;
    color: white;
    }
    th{
    text-align:center;
    background-color:rgb(93, 93, 225);
    font-family:Algerian;
    height: 40px;
    }
    td{
    background-color:rgb(155, 155, 216);
    font-size:15px;
    text-align:center;
    font-family:Arial Rounded MT;
    }
    table{
    width:100%;
    height: 40px;
    }